
  .container {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    
    background: url("https://github.com/The-Boys-International/CozyNest-Apartments/blob/main/App/static/Images/signup_background.jpg?raw=true");
  
  }
  .left-side {
width: 50%;
position: relative;
display: flex;
justify-content: center;
align-items: flex-start; /* Anchor top */
padding-top: 100px; /* Leaves space for nav */
}

  .left-side h1{
      color: white;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
  }

  .signup-box {
    background-color: #f97316;
    padding: 40px;
    margin-top: 120px;;  
    border-radius: 4px;
    width: 80%;
    max-width: 400px;
    color: white;
    animation: fadeIn 1.2s ease-in;
  }

  .signup-box h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .signup-box input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 2px;
  }

  .signup-box button {
    width: 100%;
    padding: 12px;
    background-color: #3b2fc0;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .signup-box button:hover {
    background-color: #2a23a0;
  }

  .signup-box small {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #fff;
  }

  .signup-box small a {
    color: #ddd;
  }

  .signup-box .existing-user {
    margin-top: 20px;
    text-align: center;
  }

  .right-side {
    width: 50%;
    background: white;
    padding: 60px;
    padding-top: 100px;
    overflow-y: auto;
    animation: fadeInText 1.6s ease-in;
  }

  .right-side h1, .right-side h2, .right-side p {
    margin-bottom: 20px;
  }

  .login-link a {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 500;
  min-height: 120px;
  min-width: 120px;
  text-align: center;
}

.login-link a:hover {
  text-decoration: underline;
}

  @media (max-width: 800px) {
    .right-side {
      display: none;
    }

    .left-side {
      width: 100%;
    }
  }