{% extends "layout.html" %}
{% block title %}Log in{% endblock %}
{% block page %}Log in{% endblock %}

{{ super() }}
  
{% block content %}
  <div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <div class="left-side">
      <div class="signup-box">
        <form action="{{ url_for('auth_views.login') }}" method="POST">
            <h1>Log in</h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit" class="signup-button">LOG IN</button>

        </form>
        <p class="">Not a member? <a href="{{ url_for('auth_views.signup') }}" class="login-link">Sign up</a></p>
      </div>
    </div>
    <div class="right-side">
      <h1>Welcome back!</h1>
      <p>Welcome to your go-to platform for property rentals in Trinidad & Tobago—where finding your next home or listing your property is seamless and secure. Our intuitive interface allows renters to effortlessly browse a diverse range of verified listings, complete with detailed descriptions, high-quality photos, and genuine user reviews.</p>

      <h2>Designed for the user</h2>
      <p>Whether you're seeking a modern apartment in Port of Spain, a serene villa in Tobago, or a cozy home in Chaguanas, our listings cater to diverse preferences and budgets. Our commitment to transparency ensures that all listings are verified, providing you with peace of mind in your search.</p>

      <h2>Convenience for property owners</h2>
      <p>Landlords benefit from our straightforward listing process, enabling them to create and manage property ads with ease, ensuring maximum visibility to potential tenants. With features like 24/7 listing edits, mobile responsiveness, and no hidden fees, we prioritize your convenience and trust.</p>

      <p>Experience a hassle-free rental journey tailored to the unique charm of Trinidad & Tobago with CozyNest!</p>
    </div>
  </div>

{% endblock %}